<ion-content color="primary">
  <div class="header">
    <div class="left">
      <ion-icon name="qr-code-outline"></ion-icon>
      <p>Escanéa el código o...</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>
  <div class="code-wrapper ">
    <h2 class="padding">Machantes:</h2>
    <div class="scrollmenu">
      <div class="item" *ngFor="let item of personas">
        <img [src]="item.img">
        <p class="bold">{{item.name}}</p>
        <p class="dim">{{item.dim}}</p>
      </div>
    </div>
    <br>
    <h2 class="padding">Productos pasados:</h2>
    <div class="tian-card badge">
      <div class="left">
        <img class="avatar"
          src="https://uploads.neatorama.com/images/posts/443/111/111443/Baby-Yoda-Memes-to-Brighten-Your-Day_0-x.jpg">
        <span class="km">0.1 km</span>
      </div>
      <div class="text">
        <p>Titulo</p>
        <p class="note">Calle Algo algo asd as da sd as d asdasd as dad</p>
      </div>
    </div>


  </div>
</ion-content>