<ion-content color="primary">
  <div class="header">
    <div class="left">
      <ion-icon name="qr-code-outline"></ion-icon>
      <p>Escanéa el código o...</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
      <ion-icon routerLink="/create-product" name="add"></ion-icon> 
    </div>
  </div>
  <div class="code-wrapper ">

    <div class="ion-padding">
      <h2>Busca un Producto</h2>
      <input [(ngModel)]="searchWord" (input)="searchFor()" class="search" placeholder="Producto">
    </div>
    <!-- <h2 class="padding">Marchantes:</h2>
    <div class="scrollmenu">
      <div class="item" *ngFor="let item of personas" routerLink="/person-detail">
        <img [src]="item.img">
        <p class="bold">{{item.name}}</p>
        <p class="category">{{item.category}}</p>
      </div>
    </div> -->
    <br>
    <!-- <h2 class="padding">Productos:</h2> -->
    <div class="tian-card user-badge" *ngFor="let item of products; let i=index">
      <div class="left">
        <img [routerLink]="['/create-product', item.id]" class="avatar" [src]="item.image_path">
        <!-- <img class="user" [src]="item.avatar"> -->
      </div>
      <div class="text">
        <p>{{item.title}}</p>
        <p class="note"><span>${{item.price}}/kg</span></p>
      </div>

      <div class="buy" *ngIf="item.cart!=0">
        <span class="full" (click)="removeItem(i,item)">-</span>
        <span>{{item.cart}}{{item.type}}</span>
        <span class="full" (click)="addItem(i,item)">+</span>
      </div>
      <div class="buy" *ngIf="item.cart==0">
        <span class="wide" (click)="addItem(i,item)">Añadir</span>
      </div>
    </div>

    <div class="cart" routerLink="/cart" [ngClass]="{'disabled': cart.items === 0}">
      <button class="red shadow">
        <span class="number">{{cart.items}}</span>
        <span class="price">${{cart.price}}</span>

        Ver la bolsa
      </button>
    </div>

  </div>


</ion-content>