<ion-content color="primary">
  <div class="header">
    <div class="left" routerLink="/code" routerDirection="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <p>Regresar</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>
  <div class="code-wrapper ion-padding">
    <h2>Ingresa tu número</h2>
    <div class="inputs">
      <input [(ngModel)]="code[0]" type="tel" maxlength="1" #telInput>
      <input [(ngModel)]="code[1]" type="tel" maxlength="1" #telInput>
      <input [(ngModel)]="code[2]" type="tel" maxlength="1" #telInput>
      <input [(ngModel)]="code[3]" type="tel" maxlength="1" #telInput>
    </div>
    <button class="red shadow sendbottom" routerLink="/market">
      Enviar código
    </button>
  </div>
</ion-content>