<ion-content color="primary">
  <div class="header">
    <div class="left" routerLink="/" routerDirection="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <p>Regresar</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>
  <div class="code-wrapper ion-padding">
    <h2>Ingresa tu número</h2>
    <ion-input [(ngModel)]="tel" type="tel" ></ion-input>
    <button class="red shadow sendbottom" (click)="nextPage()">
      Enviar código
    </button>
  </div>
</ion-content>