<ion-content color="primary">
  <div class="header">
    <span class="dimmer"></span>

    <div class="left" (click)="goBack()" routerDirection="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <p>Regresar</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>

  <div class="code-wrapper ">
    <div class="points" (click)="presentAlert()">
      <p class="small">TUS PUNTOS:</p>
      <p class="bold">{{points}}p</p>
      <span> +</span>
    </div>
    <div class="tian-card" *ngFor="let item of products; let i=index">
      <div class="left">
        <img class="avatar" [src]="item.image_path">
      </div>
      <div class="text">
        <p>{{item.title}}</p>
        <p class="note"><span>${{item.price}}/{{item.type}}</span></p>
      </div>

      <div class="buy" *ngIf="item.cart!=0">
        <span class="full" (click)="removeItem(i,item)">-</span>
        <span>{{item.cart}}{{item.type}}</span>
        <span class="full" (click)="addItem(i,item)">+</span>
      </div>
      <div class="buy" *ngIf="item.cart==0">
        <span class="wide" (click)="addItem(i,item)">Añadir</span>
      </div>
    </div>

    <div class="cart" >
      <button class="red shadow" (click)="payWithPoints()" [ngClass]="{'disabled': cart.items === 0 || cart.price > points}">
        <span class="price">{{cart.price}}p</span>
        Pagar con puntos
      </button>
      
      <button class="white shadow" routerLink="/payment" [ngClass]="{'disabled': cart.items === 0}">
        <span class="price">${{cart.price}}</span>
        Pagar con tarjeta
      </button>
    </div>
  </div>

</ion-content>