<ion-content color="primary">
  <div class="header">
    <span class="dimmer"></span>

    <div class="left" routerLink="/newhome"  routerDirection="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
      <p>Regresar</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>


x
  <div class="code-wrapper ">

    <div class="tian-card" *ngFor="let item of products; let i=index">
      <div class="left">
        <img class="avatar" [src]="item.img">
      </div>
      <div class="text">
        <p>{{item.name}}</p>
        <p class="note"><span>${{item.price}}/{{item.type}}</span></p>
      </div>

      <div class="buy" *ngIf="item.cart!=0">
        <span class="full" (click)="removeItem(i,item)">-</span>
        <span>{{item.cart}}{{item.type}}</span>
        <span class="full" (click)="addItem(i,item)">+</span>
      </div>
      <div class="buy" *ngIf="item.cart==0">
        <span class="wide" (click)="addItem(i,item)">Añadir</span>
      </div>
    </div>

    <div class="cart" [ngClass]="{'disabled': cart.items === 0}">
      <button class="red shadow" routerLink="/prize">
        <span class="price">${{cart.price}}</span>
        Pagar con puntos
      </button>
      
      <button class="white shadow" routerLink="/payment">
        <span class="price">${{cart.price}}</span>
        Pagar con tarjeta
      </button>
    </div>
  </div>

</ion-content>