<ion-content color="primary">
  <div class="header">
    <div class="left" routerLink="/camera/market">
      <ion-icon name="qr-code-outline"></ion-icon>
      <p>Escanéa el código o...</p>
    </div>
    <div class="right">
      <!-- <p>Regresar</p>
      <ion-icon name="chevron-back-outline"></ion-icon> -->
    </div>
  </div>
  <div class="code-wrapper ">

    <div class="ion-padding">
      <h2>Busca tu mercado</h2>
      <input [(ngModel)]="searchWord" (input)="searchFor()" class="search" placeholder="Mercado">
    </div>


    <div class="tian-card badge" [routerLink]="['/newhome', market.id]"
      *ngFor="let market of marketList">
      <div class="left">
        <img class="avatar" [src]="market.image_path">
        <!-- <span class="km">0.1 km</span> -->
      </div>
      <div class="text">
        <p>{{market.title}}</p>
        <p class="note">{{market.address}}</p>
      </div>
    </div>
  </div>
</ion-content>