<ion-content [fullscreen]="true">
  <div class="container">
    <img src="/assets/homeWaves.svg" height="100%">
    <div class="phone">

      <div class="phone-container" >
        <h2 class="center">Crea tu cuenta</h2>
        <p class="center">¡Compra en tus mercados favoritos con diferentes metodos de pago y premios!</p>
        <button class="red shadow"><ion-icon name="phone-portrait-outline"></ion-icon>Ingresar Cuenta</button>
        <button class="white shadow">Entrar como invitado</button>
      </div>
    </div>
  </div>
</ion-content>
